

<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="footer-fragment">



            <footer id="footer" class="dark m-none p-none">
				<div class="container">

				<div class="footer-copyright dark m-sm p-sm">
					<div class="container">
						<div class="row">
							<!--- <div class="col-md-1">
								<a href="index.html" class="logo">
									<img alt="Wacom" class="img-responsive" src="img/logo-footer-dark.png">
								</a>
							</div> --->
							<div class="col-md-6">
								<p class=" text-color-light">Todos los derechos reservados Wacom  2017 | Powered by <a href="http://www.kmlmedia.mx" target="_blank">KML media</a></p>
							</div>

							<div class="col-md-5">
								<nav id="sub-menu">
									<ul>
										<li><a href="http://www.wacomlatam.com/es-mx/privacy" target="_blank">Aviso de privacidad</a></li>

										<li><a href="/terminos-y-condiciones-wacom-adobe.html" target="_blank">Términos y condiciones</a></li><!---  --->
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
                </div>
			</footer>
            
            
            
</section>

			
