<!--- <!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body> --->

<section layout:fragment="footer-fragment">


            
            <footer id="footer" class="dark m-none p-none">
				<div class="container">
	      
				<div class="footer-copyright dark m-sm p-sm">
					<div class="container">
						<div class="row">
							<!--- <div class="col-md-1">
								<a href="index.html" class="logo">
									<img alt="Wacom" class="img-responsive" src="img/logo-footer-dark.png">
								</a>
							</div> --->
							<div class="col-md-6">
								<p class=" text-color-light">Todos los derechos reservados Wacom  2017 | Powered by <a href="http://www.kmlmedia.mx" target="_blank">KML media</a></p>
							</div>
                            
							<div class="col-md-5">
								<nav id="sub-menu">
									<ul>
										<li><a href="http://www.wacom.com/es-mx/privacy" target="_blank">Aviso de privacidad</a></li>
										
										<li><a href="http://becartewacom.com.mx/terminos-y-condiciones-becarte.html" target="_blank">Términos y condiciones</a></li><!---  --->
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
                </div>
			</footer>
            
            
            
        </section>    

			
		<!--- </div> --->

		<!-- Vendor -->
		<!--- <script src="vendor/jquery/jquery.min.js"></script> --->
        <!--- <script src="/js/jquery-2.1.4.js"></script> --->
		<script src="/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="/vendor/jquery-cookie/jquery-cookie.min.js"></script>
		<!--- <script src="/vendor/bootstrap/js/bootstrap.min.js"></script> --->
		<script src="/vendor/common/common.min.js"></script>
		<script src="/vendor/jquery.validation/jquery.validation.min.js"></script>
		<script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
		<script src="/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="/vendor/vide/vide.min.js"></script>
        <script src="/vendor/jquery.countdown/jquery.countdown.min.js"></script>
        <!--- <script src="/vendor/instafeed/instafeed.min.js"></script> --->
		
		<!-- Theme Base, Components and Settings -->
		<script src="/js/theme.js"></script>
		
		<!-- Current Page Vendor and Views -->
		<script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/js/views/view.contact.js"></script>
		
		<!-- Theme Custom -->
		<script src="/js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="/js/theme.init.js"></script>

		<!-- Examples -->
		<script src="/js/examples/examples.portfolio.js"></script>
        
        


		
		




</body>
</html>
