<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Confirmación de Registro</title>

	<link th:href="#{application.WebRoot} + 'resources/css/bootstrap.min.css'" rel="stylesheet">

</head>
<body>

<div class="container" style="max-width: 800px; margin: 0px auto 0px auto;">

	<br><br>

	<table class="table table-bordered">
		<thead>
		<tr>
			<td class="text-center" style="background-color: #999; padding: 10px;">
				<img th:src="#{application.WebRoot} + 'resources/images/logo.png'" width="150">
			</td>
		</tr>
		</thead>

		<tbody>
		<tr>
			<td>
				<div style="color: #000;" class="text-center">
					<strong>CONFIRMACIÓN DE MI CORREO ELECTRÓNICO</strong><br><br>
					Estimado/a: <span th:text="${nombre}">Nombre...</span><br>
					Verifique su dirección de correo electrónico para completar su cuenta <strong>Wacom.</strong>
				</div>
				<br><br>

				<div class="text-center">
					<a th:href="${url}" target="_blank" class="btn btn-primary">
						<strong>Verificar mi dirección de correo eletrónico</strong>
					</a>
				</div>

				<br><br>
				<div style="color: #000;" class="text-center">
					El botón caducará dentro de 24 horas. Si ha caducado, pruebe a solicitar un nuevo correo electrónico de verificación.
				</div>

			</td>
		</tr>

		</tbody>

	</table>

</div>

</body>
</html>