<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

<!-- Fragmento de algún mensaje -->
<div layout:fragment="messages-fragment" id="mensajes">

	<div id="info" th:if="${info != null}" class="alert alert-info text-center" style="display: none;">
		<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
		<span style="font-size: 14px;" th:utext="${info}"></span>

		<script type="text/javascript">
			$("#info").show( 500 );
		</script>

	</div>

	<div id="success" th:if="${success != null}" class="alert alert-success text-center" style="display: none;">
		<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
		<span style="font-size: 14px;" th:utext="${success}"></span>

		<script type="text/javascript">
			$("#success").show( 500 );
		</script>

	</div>

	<div id="danger" th:if="${danger != null}" class="alert alert-danger text-center" style="display: none;">
		<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
		<span style="font-size: 14px;" th:utext="${danger}"></span>

		<script type="text/javascript">
			$("#danger").show( 500 );
		</script>

	</div>

	<div id="warning" th:if="${warning != null}" class="alert alert-warning text-center" style="display: none;">
		<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
		<span style="font-size: 14px;" th:utext="${warning}"></span>

		<script type="text/javascript">
			$("#warning").show( 500 );
		</script>

	</div>

</div>

</body>
</html>