<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/frontend/main}">

<head>
	<title>Error General</title>
</head>

<body>


<div layout:fragment="content-fragment" class="container form-width">


	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title text-uppercase">¡¡ Aviso !!</h3>
		</div>
		<div class="panel-body" style="padding-top: 50px; padding-bottom: 50px;">

			<div class="text-center">
				<h4 style="color: #000;">Disculpa las molestias, no se puede procesar la página.<br>Intenta nuevamente por favor.</h4><br>
				<a class="btn btn-primary" th:href="@{/participa/ticket/index/activo.do}">Aceptar</a>
			</div>

		</div>

	</div>

</div>  <!-- Container -->

</div>

</body>
</html>