<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/backend/main}">

<head>
	<title>...</title>
</head>

<body>


<div layout:fragment="content-fragment" class="container form-width">

	<div layout:include="layout/backend/messages :: messages-fragment">Messages...</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Nuevo Usuario</h3>
		</div>
		<div class="panel-body">
			<form th:object="${usuario}" id="usuario" name="usuario" method="post" th:action="@{/admin/usuario/add-user.do}">

				<div class="form-group">
					<label>Usuario Activo *:</label><br>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default" th:classappend="${usuario.activo} ? active : none">
							<span class="glyphicon glyphicon-ok"></span>
							<input th:field="*{activo}" type="radio" value="1">SI
						</label>
						<label class="btn btn-default" th:classappend="${usuario.activo == false} ? active : none">
							<span class="glyphicon glyphicon-remove"></span>
							<input th:field="*{activo}" type="radio" value="0">NO
						</label>

					</div>
					<div th:if="${#fields.hasErrors('activo')}" th:errors="*{activo}" class="error">Name Error</div>

				</div>

				<div class="form-group">
					<label>Tipo de usuario *:</label><br>
					<select id="rolsForm" name="rolsForm" class="selectpicker form-control" data-actions-box="true">
						<option data-icon="glyphicon glyphicon-user" value="ROOT">ROOT</option>
						<option data-icon="glyphicon glyphicon-user" value="ADMIN">ADMINISTRADOR</option>
						<option data-icon="glyphicon glyphicon-user" value="USUARIO">USUARIO</option>
					</select>
					<div th:if="${#fields.hasErrors('rolsForm')}" th:errors="*{rolsForm}" class="error">Name Error</div>

				</div>

				<div class="form-group">
					<label>Nombre(s) *:</label>
					<input th:field="*{nombre}" class="form-control">
					<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error">Name Error</div>

				</div>

				<div class="form-group">
					<label>Apellido Paterno *:</label>
					<input th:field="*{paterno}" class="form-control">
					<div th:if="${#fields.hasErrors('paterno')}" th:errors="*{paterno}" class="error">Name Error</div>

				</div>

				<div class="form-group">
					<label>Apellido Materno *:</label>
					<input th:field="*{materno}" class="form-control">
					<div th:if="${#fields.hasErrors('materno')}" th:errors="*{materno}" class="error">Name Error</div>

				</div>

				<div class="form-group">
					<label>Género *:</label><br>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default" th:classappend="${usuario.genero == 'HOMBRE'} ? active : none">
							<span class="glyphicon glyphicon-user"></span>
							<input th:field="*{genero}" type="radio" value="HOMBRE">Hombre
						</label>
						<label class="btn btn-default" th:classappend="${usuario.genero == 'MUJER'} ? active : none">
							<span class="glyphicon glyphicon-user"></span>
							<input th:field="*{genero}" type="radio" value="MUJER">Mujer
						</label>

					</div>
					<div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="error">Name Error</div>

				</div>

				<div class="form-group">
					<label>Nombre de Usuario *:</label>
					<input th:field="*{username}" class="form-control">
					<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">Name Error</div>

				</div>

				<div class="form-group">
					<label>Email *:</label>
					<input th:field="*{email}" class="form-control">
					<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Name Error</div>

				</div>

				<div class="form-group">
					<label>Contraseña *:</label>
					<input th:field="*{password}" type="password" class="form-control" value="">
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Name Error</div>

				</div>

				<div class="form-group">
					<label>Repetir Contraseña *:</label>
					<input th:field="*{passwordRepeat}" type="password" class="form-control" value="">
					<div th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}" class="error">Name Error</div>

				</div>

				<div class="row">&nbsp;</div>

				<div class="text-center">
					<a class="btn btn-primary" th:href="@{/admin/usuario/}">
						<span class="glyphicon glyphicon-arrow-left"></span>
						Regresar
					</a>
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok"></span>
						Guardar
					</button>

				</div>

				<input th:field="*{dateCreated}" type="hidden">

			</form>

		</div>

	</div>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		$(function () {

			// Repopulate los datos de la lista de roles seleccionados
			$(".selectpicker").selectpicker("val", [[${usuario.rolsForm}]]);

		})

		/*]]>*/

	</script>

</div>


</body>
</html>