<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

<div layout:fragment="upload-fragment">

	<div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header alert-info">
					<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
					<h4 class="modal-title" id="uploadModalLabel">¡¡ Subir Archivo !!</h4>
				</div>
				<div class="modal-body" style="margin-top: 10px; margin-bottom: 10px;">

					<form id="upload" name="upload" method="post" enctype="multipart/form-data">

						<div class="row">
							<div class="col-sm-12">
								<div id="inputFile" class="alert-warning">
									<input id="file" name="file" type="file" class="btn btn-sm text-center" onchange="uploadFile(this);"
									       style="margin-top: 10px; width: 100%;">
								</div>
							</div>
						</div>
						<div class="row">
							<div id="file-preview-upload" class="col-sm-12" style="display: none;"></div>
						</div>

						<br>

						<div id="divProgress" class="progress" style="display: none;">
							<div id="progressFile" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
							     style="width: 0%">
								<span class="sr-only">60% Complete (warning)</span>
							</div>
						</div>

						<div class="row" id="divPreviewFile" style="display: none;">
							<div class="col-sm-12"></div>
						</div>

						<div id="featuresFile" class="row">
							<div id="nameFile" class="col-sm-6 text-left">&nbsp;</div>
							<div id="progressNameFile" class="col-sm-6 text-right">0%</div>

						</div>

					</form>

				</div>
				<div class="modal-footer">
					<button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">X Salir</button>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		var uuid = "-1";
		var nameField = "-1";
		var megabytes = 0;
		var extensions = {};

		$("#uploadModal").modal({
			backdrop: "static",
			keyboard: false,
			show: !true
		});

		$(".btn-upload").on("click", function (evt) {
			evt.preventDefault();
			//uuid = $(this).attr("data-uuid");
			megabytes = parseFloat( $(this).attr("data-megabytes") );
			extensions = $(this).attr("data-extensions");
			nameField = $(this).attr("data-name-field");
			uuid = document.getElementById( nameField + "Form" ).value;

			$( "#divPreviewFile" ).html( "" );
			$( "#divPreviewFile" ).hide();

			$( "#file-preview-upload" ).html("");
			$( "#file-preview-upload" ).hide();
			$( "#upload" ).trigger( "reset" );

		})

		$("#btnCancel").on("click", function (evt) {
			evt.preventDefault();
			uuid = "-1";
			nameField = "-1";

		})

		/*
		 function fileSelected(fileField, uuid, name) {
		 var file = fileField.files[0];
		 //alert( file.name );

		 if (file) {
		 var fileSize = 0;
		 if (file.size > 1024 * 1024) {
		 fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
		 }
		 else {
		 fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
		 }

		 //document.getElementById('fileName').innerHTML = 'Nombre: ' + file.name;
		 //document.getElementById('fileSize').innerHTML = 'Tamaño: ' + fileSize;
		 //document.getElementById('fileType').innerHTML = 'Tipos: ' + file.type;
		 }

		 uploadFile(file, uuid, name)

		 }
		 */

		//function uploadFile( fileField, uuid, nameField ) {
		function uploadFile(fileField) {
			// Archivo
			var KB = 1024;
			var file = fileField.files[0];
			var fileSizeMax = megabytes;
			var extensionArray = extensions.split( "," );
			var isExtension = false;
			var fileArray = file.name.split( "." );
			var fileExt = fileArray[ fileArray.length - 1 ];

			// Iterar extensiones
			for( i = 0; i < extensionArray.length; i ++ ) {
				var ext = extensionArray[ i ].replace( / /g, "" );

				if( ext == fileExt ) {
					isExtension = true;
					break;
				}
			}

			if( !isExtension ) {
				$( "#divPreviewFile" ).show();
				$( "#divPreviewFile" ).html( "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>El formato del archivo debe ser [ " + extensions + " ]</strong>" );
				return;
			}

			//alert( megabytes + ", " + fileSizeMax );

			var fileSize = 0;
			if( file.size > ( KB * KB ) ) {
				//fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
				fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100);

				//alert( megabytes + ", " + fileSizeMax + ", " + fileSize );

				// Megabytes
				if( fileSize > fileSizeMax ) {
					$( "#divPreviewFile" ).show();
					$( "#divPreviewFile" ).html( "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>El peso del archivo no debe ser mayor a " + megabytes + " Megabytes.</strong>" );
					return;
				}

			}

			// Si es correcto el peso del archivo y extension
			$( "#divPreviewFile" ).hide();
			$( "#divPreviewFile" ).html( "" );
			$("#div-" + nameField + "-preview").html("");
			$("#divProgress").show();
			$("#nameFile").html(file.value);
			$("#btnCancel").attr("disabled", true);
			$("#file").attr("disabled", true);
			$("#featuresFile").show();

			var fd = new FormData();
			fd.append("file", file);
			fd.append("uuid", uuid);
			fd.append("nameField", nameField);

			var xhr = new XMLHttpRequest();
			xhr.upload.addEventListener("progress", uploadProgress, false);
			xhr.addEventListener("load", uploadComplete, false);
			xhr.addEventListener("error", uploadFailed, false);
			xhr.addEventListener("abort", uploadCanceled, false);
			xhr.onload = onComplete;
			xhr.open("POST", "[[@{/file/upload}]]?[[${_csrf.parameterName}]]=[[${_csrf.token}]]");
			xhr.send(fd);
		}

		function uploadProgress(evt) {
			if (evt.lengthComputable) {
				var percent = Math.round(evt.loaded * 100 / evt.total);

				$("#progressFile").css("width", percent + "%");
				$("#progressNameFile").html(percent + "%");

			}
			else {
				alert("unable to compute");
				//document.getElementById('progressNumber').innerHTML = 'unable to compute';
			}

		}

		function uploadComplete(evt) {
			// This event is raised when the server send back a response
			var response = evt.response;
			var responseText = evt.responseText;

		}

		// Si todo es correcto

		function onComplete() {
			if (this.status == 200) {
				//alert( this.status + " : " + this.responseText );
				var json = JSON.parse(this.responseText);
				var nameFile = json.nameFile;
				var extFile = json.extFile;
				var nameField = json.nameField;
				var nameFieldOriginal = json.nameFieldOriginal;
				//var nameFieldNew = nameField.replace( /./, "-" );
				var previewForm = "#" + nameField + "-preview-form";
				var previewForm2 = nameField + "-preview-form";
				var previewUpload = "#file-preview-upload";
				var previewUpload2 = "file-preview-upload";

				//alert( previewForm + " : " + previewUpload );
				//alert( nameFile + " : " + nameField + " : " + nameFieldOriginal );

				//$("#" + nameField).val(nameFile);
				document.getElementById( previewForm2 ).style.display = "block";
				document.getElementById( previewUpload2 ).style.display = "block";
				//$( "" + previewForm ).show();
				//$( "" + previewUpload ).show();

				if( extFile == "jpeg" || extFile == "jpg" || extFile == "gif" || extFile == "png" ) {
					var nameFileImg = nameFile + "?r=" + Math.random();
					var imagen = '<img src="[[@{/resources/uploads/}]]' + nameFileImg + '" style="max-width: 200px; border: 1px solid #ccc; border-radius: 3px;">';
					var html = '<a href="[[@{/resources/uploads/}]]' + nameFileImg + '" target="_blank">' + imagen + '</a>';
					//$(previewForm).html(html);
					document.getElementById( previewForm2 ).innerHTML = html;
					document.getElementById( previewUpload2 ).innerHTML = html;
					//$( "" + previewForm).html(html);
					//$( "" + previewUpload).html(html);
				}
				else {
					var nameFileImg = nameFile + "?r=" + Math.random();
					var html = '<a href="[[@{/resources/uploads/}]]' + nameFileImg + '" target="_blank">' + nameFieldOriginal + '</a>';
					//$(previewForm).html(html);
					//document.getElementById( "" + previewForm2 ).innerHTML = html;
					document.getElementById( previewForm2 ).innerHTML = html;
					document.getElementById( previewUpload2 ).innerHTML = html;
					//$( "" + previewForm).html(html);
					//$( "" + previewUpload).html(html);
				}

				$("#progressFile").css("width", "0%");
				$("#divProgress").hide();
				$("#progressNameFile").html("");
				$("#file").attr("disabled", true);
				$("#btnCancel").attr("disabled", false);
				$("#file").attr("disabled", false);

				// Agregar el id
				document.getElementById( nameField ).value = nameFile;

			}
			else {
				// something went wrong
				//alert( this.status );
			}

		}

		function uploadFailed(evt) {
			alert("There was an error attempting to upload the file. ");
		}

		function uploadCanceled(evt) {
			alert("The upload has been canceled by the user or the browser dropped the connection." + evt.name);
		}

	</script>

</div>

</body>
</html>