<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/frontend/main}">

<head>
	<title>...</title>
</head>

<body>


<div layout:fragment="content-fragment" class="container form-width">

	<div layout:include="layout/frontend/messages :: messages-fragment">Messages...</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Mi Ticket</h3>
		</div>
		<div class="panel-body">
			<!--
			<h3 class="text-center">
				Te recordarmos que al momento de dar de alta un ticket,<br>
				no es necesario que subas tu diseño. Tienes un tiempo máximo de 30 días para poder subir tu diseño, de lo contrario,<br>
				el registro de tu ticket sera desactivado.
			</h3>
			-->

			<br>

			<form th:object="${ticket}" id="ticket" name="ticket" method="post" th:action="@{/participa/ticket/add.do}">

				<div class="row">

					<div class="form-group col-sm-6">
						<label>Fecha de compra:</label>
						<input name="fechaCompra" th:value="${#dates.format( ticket.fechaCompra, 'dd-MM-yyyy' )}" class="form-control" disabled="disabled">

					</div>

					<div class="form-group col-sm-6">
						<label>Número del Ticket:</label>
						<input th:field="*{numero}" class="form-control" maxlength="20" disabled="disabled">
						<div th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}" class="error">Name Error</div>
					</div>

				</div>

				<div class="row">
					<div class="form-group col-sm-6">
						<label>Descripción del producto que compraste:</label>
						<input th:field="*{descripcion}" class="form-control" maxlength="255" disabled="disabled">
						<div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="error">Name Error</div>
					</div>

					<div class="form-group col-sm-6">
						<label>Tienda:</label>
						<input th:field="*{tienda}" class="form-control" maxlength="150" disabled="disabled">
						<div th:if="${#fields.hasErrors('tienda')}" th:errors="*{tienda}" class="error">Name Error</div>
					</div>

				</div>

				<div class="row">
					<div class="form-group col-sm-6">
						<label>Monto del ticket $:</label>
						<input th:field="*{monto}" class="form-control" maxlength="15" disabled="disabled">
						<div th:if="${#fields.hasErrors('monto')}" th:errors="*{monto}" class="error">Name Error</div>
					</div>

					<div class="form-group col-sm-6">
						<label>Foto del Ticket:</label>
						<div id="imagen-preview-form">
							<a th:if="*{imagenFormUrl != null}" th:href="@{${ticket.imagenFormUrl}}" target="_blank">
								<img class="img-thumbnail" th:src="@{${ticket.imagenFormUrl}}" style="max-width: 200px; border: 1px solid #ccc; border-radius: 3px;">
							</a>
						</div>

						<div th:if="*{#fields.hasErrors('imagen')}" th:errors="*{imagen}" class="error">Name Error</div>
					</div>

				</div>

				<div class="row">&nbsp;</div>

				<div class="text-center">
					<a class="btn btn-primary" th:href="@{/participa/ticket/index/activo.do}">
						<span class="glyphicon glyphicon-arrow-left"></span>
						Regresar
					</a>

				</div>

			</form>

		</div>

	</div>

	<!-- Template Upload -->
	<div layout:include="layout/utils/upload :: upload-fragment">Upload...</div>

</div>

</body>
</html>