<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/frontend/main}">

<head>
	<meta charset="UTF-8">
	<title>Olvide mi Contraseña</title>

</head>
<body>

<div layout:fragment="content-fragment" class="container form-width">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				Olvide mi Contraseña
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">&nbsp;</div>

			<div style="color: #000;" class="text-center">
				<div class="text-left">
					<div class="warning alert alert-warning text-center" th:if="${warning}" style="display: none;">
						<span class="glyphicon glyphicon-remove"></span>
						<span th:text="${warning}"></span>
					</div>
					<form id="registro" name="registro" method="post" th:action="@{/registro/recupera-password.do}" th:with="token=${_csrf.token}">
						<div class="form-group">
							<label>Escribe tu correo electrónico para recuperar tu contraseña*:</label>
							<input id="email" name="email" th:value="${email}" class="form-control">
						</div>

						<div class="row">&nbsp;</div>

						<div class="text-center">
							<button id="submit" name="submit" type="submit" class="btn btn-primary" style="width: 200px;">
								<span class="glyphicon glyphicon-ok"></span>
								Enviar solicitud
							</button>

							<a class="btn btn-primary" th:href="@{/login.do}" style="width: 200px;">
								<span class="glyphicon glyphicon-user"></span>
								Login
							</a>
						</div>

						<script type="text/javascript">
							$(function () {
								$(".warning").show(500);
								$("#submit").attr("disabled", false);
							})
						</script>

					</form>

				</div>

			</div>
		</div>

		<div class="row">&nbsp;</div>

	</div>

</div>

</body>
</html>