<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/frontend/main}">

<head>

</head>

<body>

<div id="content" layout:fragment="content-fragment" class="container form-width">

	<div id="finish" class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title text-uppercase">AVISO</h4>
		</div>
		<div class="panel-body">
			<!--
			<span th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}"></span>
			-->
			<p>&nbsp;</p>
			<h1 class="text-center text-uppercase" style="color: #C70039">
				¡¡ Lo sentimos !!<br><br>
				La fecha de promoción para subir<br>tus tickets ha finalizado.<br>
			</h1>
			<br>
			<br>

			<br>

		</div>

	</div>

</div>

</body>
</html>