<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <!-- ====================================================== -->
    <!-- Schedule                                               -->
    <!-- ====================================================== -->
    <bean id="ticketService" class="com.dsysprog.wacom.service.impl.persona.TicketServiceImpl"/>

    <!-- Run: second, minute, hour, day of month, month, day(s) of week -->
    <task:scheduled-tasks>
        <task:scheduled ref="ticketService" method="scheduleUpdateTicketDisenyoByFecha" cron="0 00 1 * * *"/>
    </task:scheduled-tasks>


</beans>